@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: #629CFF;
  color: #3F3F3F;
}

.container{
    width: auto;
    height: auto;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

h2{
    font-size: 50px;
}

.container button{
    /* width: 240px; */
    padding: 10px 40px;
    color: #3F3F3F;
    /* border-color: #3F3F3F; */
    border: none;
    font-weight: 800;
    font-size: 18px;
}

.container button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.buttons{
    display: flex;
    gap: 15px;
}

button{
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s ease;
}

a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 700px){
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

img{
    max-width: 90px;
}

.imagediv{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}
